## Exercice 1

### Python

In [1]:
import pandas as pd

df = pd.read_csv('products.csv')

df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,"2,344.23 €",258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,"1,620.50 €",NaN,2025-05-05
2,P1485,Generic Fish,Électroménager,"1,735.99 €",185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47 €,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,"2,485.48 €",360.0,2024-12-20
...,...,...,...,...,...,...
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70 €,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,"1,757.14 €",254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82 €,235.0,2024-11-06
1048,P1299,Soft Bike,Meubles,420.26 €,254.0,2024-12-10
1049,P1860,Small Granite Bacon,meubles,"1,627.72 €",439.0,2023-10-26

In [ ]:
# info() est une méthode pour obtenir des informations agrégées sur les colonnes du Dataframe : nom, type, valeurs non vides, ...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1050 non-null   object
 1   product_name    1050 non-null   object
 2   category        1050 non-null   object
 3   price           1010 non-null   object
 4   stock_quantity  956 non-null    float64
 5   date_added      1050 non-null   object
dtypes: float64(1), object(5)
memory usage: 49.3+ KB

In [ ]:
# include='all' permet d'avoir les colonnes non numériques également
df.describe(include='all')

,product_id,product_name,category,price,stock_quantity,date_added
count,1050,1050,1050,1010,956.000000,1050
unique,1000,624,12,961,NaN,548
top,P1076,Fish,accessoires,932.46 €,NaN,2024-12-25
freq,2,19,107,2,NaN,6
mean,NaN,NaN,NaN,NaN,235.558577,NaN
std,NaN,NaN,NaN,NaN,151.898491,NaN
min,NaN,NaN,NaN,NaN,-10.000000,NaN
25%,NaN,NaN,NaN,NaN,104.750000,NaN
50%,NaN,NaN,NaN,NaN,233.000000,NaN
75%,NaN,NaN,NaN,NaN,367.250000,NaN
max,NaN,NaN,NaN,NaN,499.000000,NaN

#### 2.Doublons

In [4]:
print(df.duplicated().sum())

50

Il y'a 50 lignes qui constituent des doublons

In [ ]:
# Affichage de ces doublons
df[df.duplicated(keep=False)].reset_index().sort_values('product_id')

,index,product_id,product_name,category,price,stock_quantity,date_added
27,177,P1059,Soft Pants,Livres,"2,057.85 €",308.0,2023-11-18
2,25,P1059,Soft Pants,Livres,"2,057.85 €",308.0,2023-11-18
5,44,P1076,Practical Chair,Électroménager,"2,199.11 €",NaN,2025-03-31
80,726,P1076,Practical Chair,Électroménager,"2,199.11 €",NaN,2025-03-31
48,365,P1096,Intelligent Towels,Électronique,262.01 €,368.0,2024-05-17
...,...,...,...,...,...,...,...
40,232,P1973,Soft Ball,meubles,"2,463.30 €",-5.0,2024-08-28
84,792,P1974,New Metal Shoes,electronique,NaN,223.0,2024-06-18
95,985,P1974,New Metal Shoes,electronique,NaN,223.0,2024-06-18
4,38,P1986,Refined Computer,Livres,867.81 €,487.0,2025-01-23
22,144,P1986,Refined Computer,Livres,867.81 €,487.0,2025-01-23

In [ ]:
# méthode pour supprimer les doublons, inplace=True permet de ne pas créer un nouveau Dataframe mais de rester sur le même (plus économe en mémoire)
df.drop_duplicates(inplace=True)
df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,"2,344.23 €",258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,"1,620.50 €",NaN,2025-05-05
2,P1485,Generic Fish,Électroménager,"1,735.99 €",185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47 €,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,"2,485.48 €",360.0,2024-12-20
...,...,...,...,...,...,...
1044,P1087,Granite Gloves,accessoires,"1,507.27 €",103.0,2025-02-28
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70 €,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,"1,757.14 €",254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82 €,235.0,2024-11-06
1049,P1860,Small Granite Bacon,meubles,"1,627.72 €",439.0,2023-10-26

#### 3. Complétude

In [ ]:
# fillna est une méthode pour remplacer les valeurs vides par une valeur assignée
df['stock_quantity'] = df['stock_quantity'].fillna(0)
df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,"2,344.23 €",258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,"1,620.50 €",0.0,2025-05-05
2,P1485,Generic Fish,Électroménager,"1,735.99 €",185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47 €,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,"2,485.48 €",360.0,2024-12-20
...,...,...,...,...,...,...
1044,P1087,Granite Gloves,accessoires,"1,507.27 €",103.0,2025-02-28
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70 €,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,"1,757.14 €",254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82 €,235.0,2024-11-06
1049,P1860,Small Granite Bacon,meubles,"1,627.72 €",439.0,2023-10-26

In [ ]:
# nous comptons le ombre de ligne où le prix est vide

df[df['price'].isna()].count()

product_id        38
product_name      38
category          38
price              0
stock_quantity    38
date_added        38
dtype: int64

In [ ]:
# nous sauvegardons les index (numéros de ligne) afin de pouvoir supprimer ces lignes en particulier (là où prix est vide)

indices_supprime = df[df['price'].isna()].index
indices_supprime
print(len(indices_supprime))

38

In [ ]:
# suppression des lignes où prix est vide via l'index, et remplacement du Dataframe
df.drop(indices_supprime, inplace=True)

In [11]:
df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,"2,344.23 €",258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,"1,620.50 €",0.0,2025-05-05
2,P1485,Generic Fish,Électroménager,"1,735.99 €",185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47 €,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,"2,485.48 €",360.0,2024-12-20
...,...,...,...,...,...,...
1044,P1087,Granite Gloves,accessoires,"1,507.27 €",103.0,2025-02-28
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70 €,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,"1,757.14 €",254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82 €,235.0,2024-11-06
1049,P1860,Small Granite Bacon,meubles,"1,627.72 €",439.0,2023-10-26

#### 4. Format / Type

In [ ]:
# dtypes permet également de connaitre les types de chaque colonne 
df.dtypes

product_id         object
product_name       object
category           object
price              object
stock_quantity    float64
date_added         object
dtype: object

In [ ]:
# nettoyage de la colonne prix et conversion en "float"

df['price'] = df['price'].str.replace(' €', '', regex=False).str.replace(',','', regex=False).astype(float)
df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,2344.23,258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,1620.50,0.0,2025-05-05
2,P1485,Generic Fish,Électroménager,1735.99,185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,2485.48,360.0,2024-12-20
...,...,...,...,...,...,...
1044,P1087,Granite Gloves,accessoires,1507.27,103.0,2025-02-28
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,1757.14,254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82,235.0,2024-11-06
1049,P1860,Small Granite Bacon,meubles,1627.72,439.0,2023-10-26

#### Validité

In [ ]:
# nous affichons toutes les lignes du Dataframe où le stock est strictement négatif
df[df['stock_quantity'] < 0]

,product_id,product_name,category,price,stock_quantity,date_added
40,P1799,Fish,Accessoires,1658.28,-5.0,2024-06-05
60,P1882,Gently Used Wooden Bacon,Électroménager,596.00,-10.0,2024-01-06
67,P1937,Licensed Wooden Computer,Électronique,2588.26,-10.0,2024-02-27
73,P1834,Mouse,accessoires,2266.27,-9.0,2024-10-31
82,P1350,Incredible Shoes,Accessoires,2408.14,-9.0,2024-11-13
86,P1959,Soft Table,Cuisine,413.00,-1.0,2024-01-08
95,P1837,New Granite Tuna,Électronique,572.25,-3.0,2025-04-10
104,P1054,Ball,électronique,1873.21,-5.0,2023-12-25
114,P1656,Tasty Chicken,Livres,1020.94,-5.0,2023-12-09
135,P1178,Unbranded Granite Sausages,Accessoires,2858.04,-5.0,2024-12-30
181,P1601,Tasty Mouse,Cuisine,1142.83,-9.0,2025-10-02
188,P1055,Unbranded Wooden Cheese,electronique,1476.28,-8.0,2025-02-14
194,P1044,Concrete Chips,accessoires,38.07,-6.0,2025-02-18
222,P1976,Cotton Chicken,Accessoires,849.58,-2.0,2024-12-18
225,P1938,Plastic Tuna,électronique,745.19,-9.0,2024-06-01
232,P1973,Soft Ball,meubles,2463.30,-5.0,2024-08-28
253,P1450,Steel Gloves,Cuisine,757.85,-5.0,2025-09-17
266,P1685,Table,électronique,882.30,-5.0,2024-01-29
299,P1082,Shirt,Meubles,545.45,-9.0,2024-07-22
321,P1991,Rubber Towels,Accessoires,1787.83,-9.0,2024-07-24
374,P1163,Fresh Salad,electromenager,2128.15,-10.0,2024-11-29
383,P1448,Intelligent Chips,Meubles,2753.40,-6.0,2024-12-09
407,P1172,Metal Chips,Livres,273.70,-4.0,2024-05-16
413,P1090,Sausages,Meubles,547.04,-8.0,2024-03-18
431,P1996,Practical Soap,meubles,2275.73,-6.0,2025-07-27
444,P1173,Tuna,Meubles,2071.38,-8.0,2024-05-16
467,P1767,Awesome Mouse,Cuisine,2785.68,-3.0,2024-05-07
474,P1468,Ergonomic Chips,Électronique,610.96,-1.0,2024-11-30
499,P1018,Awesome Table,Meubles,2167.99,-3.0,2024-02-04
527,P1947,Granite Computer,Meubles,1311.05,-3.0,2024-05-26
530,P1114,Generic Plastic Pants,Électroménager,1943.04,-2.0,2024-06-02
588,P1117,Frozen Chips,electromenager,924.23,-8.0,2024-06-28
644,P1287,Metal Bacon,Electromenager,2908.04,-9.0,2025-05-26
652,P1255,Chair,accessoires,81.50,-4.0,2025-04-23
655,P1190,Fresh Computer,Électronique,1493.95,-10.0,2025-07-06
674,P1511,Fantastic Mouse,Accessoires,592.12,-6.0,2024-05-22
683,P1774,Small Hat,electronique,2136.36,-6.0,2025-05-06
686,P1026,Cotton Pants,accessoires,993.29,-10.0,2024-10-26
687,P1842,Generic Rubber Keyboard,Accessoires,1917.24,-8.0,2025-01-29
696,P1469,New Keyboard,accessoires,2888.20,-10.0,2025-06-29
700,P1758,Chips,Electromenager,546.66,-9.0,2024-10-05
708,P1579,Plastic Bacon,electromenager,2907.14,-10.0,2024-01-11
742,P1253,Gently Used Ball,Cuisine,1015.50,-9.0,2023-12-29
753,P1150,Sleek Car,Meubles,1110.28,-7.0,2024-09-10
785,P1183,Generic Gloves,electronique,1434.17,-4.0,2025-06-30
800,P1735,Mouse,Accessoires,659.45,-9.0,2024-11-10
836,P1709,Intelligent Concrete Table,accessoires,1458.27,-10.0,2024-05-15
857,P1952,Rubber Pants,meubles,2134.18,-5.0,2025-03-06
867,P1698,Handmade Plastic Cheese,Accessoires,2173.80,-1.0,2023-12-14
888,P1553,Cotton Chair,électronique,1736.54,-6.0,2025-09-02
890,P1944,Steel Cheese,Meubles,1948.89,-7.0,2025-01-22
897,P1914,New Steel Soap,meubles,1135.64,-10.0,2025-05-28
902,P1964,Cotton Chair,accessoires,1734.12,-1.0,2023-12-23
911,P1727,Ergonomic Steel Chips,Livres,1461.64,-2.0,2025-04-05
951,P1216,Sausages,meubles,1783.84,-3.0,2025-09-28
982,P1389,Frozen Keyboard,Meubles,213.37,-7.0,2023-11-01
993,P1508,Rubber Pants,electromenager,632.43,-4.0,2025-06-12
1005,P1013,Concrete Gloves,meubles,2884.44,-4.0,2025-01-28

In [ ]:
#nous remplaçons ces valeurs négatives par 0
df.loc[df['stock_quantity']  < 0, 'stock_quantity'] = 0

In [ ]:
# nous vérifions qu'il ne reste plus de prix négatif (précaution)
df[df['stock_quantity'] < 0]

Empty DataFrame
Columns: [product_id, product_name, category, price, stock_quantity, date_added]
Index: []

In [26]:
df.iloc[39]

product_id              P1799
product_name             Fish
category          Accessoires
price                 1658.28
stock_quantity            0.0
date_added         2024-06-05
Name: 40, dtype: object

In [ ]:
# nous convertissons le type en entier
df['stock_quantity'] = df['stock_quantity'].astype(int)

In [30]:
df.dtypes

product_id         object
product_name       object
category           object
price             float64
stock_quantity      int64
date_added         object
dtype: object

##### Cohérence

In [ ]:
# nous affichons les valeurs distinct de la colonne "category"
print(df['category'].unique())

['meubles' 'accessoires' 'Électroménager' 'electronique' 'Électronique'
 'électronique' 'Cuisine' 'Electromenager' 'Accessoires' 'Livres'
 'Meubles' 'electromenager']

In [ ]:
# nous testons la transformation sans l'appliquer au Dataframe
df['category'].str.lower().str.replace('é','e').unique()

array(['meubles', 'accessoires', 'electromenager', 'electronique',
       'cuisine', 'livres'], dtype=object)

In [ ]:
# Nous appliquons la transformation ci-dessus
df['category'] = df['category'].str.lower().str.replace('é','e')
df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,2344.23,258,2025-06-07
1,P1689,Frozen Shirt,accessoires,1620.50,0,2025-05-05
2,P1485,Generic Fish,electromenager,1735.99,185,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47,273,2024-04-08
4,P1031,Awesome Shoes,electronique,2485.48,360,2024-12-20
...,...,...,...,...,...,...
1044,P1087,Granite Gloves,accessoires,1507.27,103,2025-02-28
1045,P1330,Gently Used Frozen Chicken,electronique,989.70,237,2023-11-27
1046,P1466,Gorgeous Ball,electronique,1757.14,254,2025-09-04
1047,P1121,Sleek Chicken,livres,724.82,235,2024-11-06
1049,P1860,Small Granite Bacon,meubles,1627.72,439,2023-10-26

#### Fraicheur

In [ ]:
# Nous assignons aux dates antérieures à 2024 un flag "flag_produit_perime"

df['flag_produit_perime'] = df['date_added'] < '2024-01-01'

In [ ]:
# Nous vérifions s'il y'a des produits où le flag est vrai
df[df['flag_produit_perime'] == True]['product_name']

7                          Chicken
13                Concrete Chicken
25                      Soft Pants
32                   Granite Shoes
33         For repair Plastic Tuna
                   ...
999                          Mouse
1004                  Tasty Gloves
1012       Intelligent Steel Pants
1045    Gently Used Frozen Chicken
1049           Small Granite Bacon
Name: product_name, Length: 92, dtype: object

In [ ]:
# pour ces produits là, nous prenons les index afin de pouvoir filtrer le Dataframe de ces produits périmés
indices_supprime = df[df['flag_produit_perime'] == True].index
indices_supprime
print(len(indices_supprime))
df.drop(indices_supprime, inplace=True)

92

In [49]:
df

,product_id,product_name,category,price,stock_quantity,date_added,flag_produit_perime
0,P1352,Cheese,meubles,2344.23,258,2025-06-07,False
1,P1689,Frozen Shirt,accessoires,1620.50,0,2025-05-05,False
2,P1485,Generic Fish,electromenager,1735.99,185,2025-08-10,False
3,P1388,Handcrafted Granite Pants,meubles,574.47,273,2024-04-08,False
4,P1031,Awesome Shoes,electronique,2485.48,360,2024-12-20,False
...,...,...,...,...,...,...,...
1042,P1130,Chicken,electronique,2138.59,222,2024-09-17,False
1043,P1871,For repair Cheese,electronique,2241.14,319,2024-01-09,False
1044,P1087,Granite Gloves,accessoires,1507.27,103,2025-02-28,False
1046,P1466,Gorgeous Ball,electronique,1757.14,254,2025-09-04,False
1047,P1121,Sleek Chicken,livres,724.82,235,2024-11-06,False

### SQL

In [1]:
import pandas as pd

df = pd.read_csv('products.csv')

df

,product_id,product_name,category,price,stock_quantity,date_added
0,P1352,Cheese,meubles,"2,344.23 €",258.0,2025-06-07
1,P1689,Frozen Shirt,accessoires,"1,620.50 €",NaN,2025-05-05
2,P1485,Generic Fish,Électroménager,"1,735.99 €",185.0,2025-08-10
3,P1388,Handcrafted Granite Pants,meubles,574.47 €,273.0,2024-04-08
4,P1031,Awesome Shoes,electronique,"2,485.48 €",360.0,2024-12-20
...,...,...,...,...,...,...
1045,P1330,Gently Used Frozen Chicken,Électronique,989.70 €,237.0,2023-11-27
1046,P1466,Gorgeous Ball,électronique,"1,757.14 €",254.0,2025-09-04
1047,P1121,Sleek Chicken,Livres,724.82 €,235.0,2024-11-06
1048,P1299,Soft Bike,Meubles,420.26 €,254.0,2024-12-10
1049,P1860,Small Granite Bacon,meubles,"1,627.72 €",439.0,2023-10-26

In [5]:
import duckdb
con = duckdb.connect()

df_duckdb = con.execute("SELECT * FROM df LIMIT 10").df()

In [6]:
df_duckdb_unicity = con.execute(
    """ 
    SELECT product_id, product_name, category,price, stock_quantity, date_added, COUNT(*) as count
    FROM df
    GROUP BY product_id, product_name, category,price, stock_quantity, date_added
    HAVING COUNT(*) > 1
    ORDER BY 1 DESC
    """).df()

In [9]:
df_duckdb_unicity.head()

,product_id,product_name,category,price,stock_quantity,date_added,count
0,P1986,Refined Computer,Livres,867.81 €,487.0,2025-01-23,2
1,P1974,New Metal Shoes,electronique,None,223.0,2024-06-18,2
2,P1973,Soft Ball,meubles,"2,463.30 €",-5.0,2024-08-28,2
3,P1947,Granite Computer,Meubles,"1,311.05 €",-3.0,2024-05-26,2
4,P1938,Plastic Tuna,électronique,745.19 €,-9.0,2024-06-01,2

In [ ]:
# Pour supprimer les doublons en gardant la première occurrence, on peut utiliser la fonction ROW_NUMBER() qui est une fonction fenêtrée

con.execute("""
            SELECT *, ROW_NUMBER() OVER (partition by product_id) as row_number_product_id 
            FROM df 
            WHERE product_id IN ('P1059','P1076')
            """).df()

,product_id,product_name,category,price,stock_quantity,date_added,row_number_product_id
0,P1076,Practical Chair,Électroménager,"2,199.11 €",NaN,2025-03-31,1
1,P1076,Practical Chair,Électroménager,"2,199.11 €",NaN,2025-03-31,2
2,P1059,Soft Pants,Livres,"2,057.85 €",308.0,2023-11-18,1
3,P1059,Soft Pants,Livres,"2,057.85 €",308.0,2023-11-18,2

In [12]:
df_corrected = con.execute("""
            WITH CTE AS (
            SELECT *, ROW_NUMBER() OVER (partition by product_id) as row_number_product_id
            FROM df
            )

            SELECT *
            FROM CTE
            WHERE row_number_product_id = 1 
            """).df()

In [14]:
# Complétude

con.execute("""
            SELECT *
            , COALESCE(stock_quantity, 0) as stock_quantity_complete, 
            CASE WHEN COALESCE(price, '') = '' THEN 1 ELSE 0 END AS price_missing_flag       
            FROM df_corrected 
            WHERE stock_quantity IS NULL OR price IS NULL
            """).df()

df_corrected = con.execute("""
            SELECT *
            , COALESCE(stock_quantity, 0) as stock_quantity_complete, 
            CASE WHEN COALESCE(price, '') = '' THEN 1 ELSE 0 END AS price_missing_flag       
            FROM df_corrected 
            WHERE price_missing_flag = 0
            """).df()

In [15]:
# nous vérifions que nous avons bien supprimé les lignes où le prix est manquant
df_corrected[df_corrected['price_missing_flag'] == 1]

Empty DataFrame
Columns: [product_id, product_name, category, price, stock_quantity, date_added, row_number_product_id, stock_quantity_complete, price_missing_flag, stock_quantity_complete_1, price_missing_flag_1]
Index: []

In [16]:
# Format et type

print("Types avant conversion : \n" , df_corrected.dtypes)

df_corrected = con.execute("""
            SELECT * , CAST( REPLACE (TRIM(REPLACE(price,'€',' ')), ',','') AS double) AS price_cleaned
            FROM df_corrected 
            """).df()

print("Types après conversion : \n" , df_corrected.dtypes)

Types avant conversion :
 product_id                    object
product_name                  object
category                      object
price                         object
stock_quantity               float64
date_added                    object
row_number_product_id          int64
stock_quantity_complete      float64
price_missing_flag             int32
stock_quantity_complete_1    float64
price_missing_flag_1           int32
dtype: object
Types après conversion :
 product_id                    object
product_name                  object
category                      object
price                         object
stock_quantity               float64
date_added                    object
row_number_product_id          int64
stock_quantity_complete      float64
price_missing_flag             int32
stock_quantity_complete_1    float64
price_missing_flag_1           int32
price_cleaned                float64
dtype: object

In [17]:
# Validité

con.execute("""
            SELECT stock_quantity, CASE WHEN stock_quantity < 0 THEN 0 ELSE stock_quantity END AS stock_quantity_valid
            FROM df_corrected 
            WHERE stock_quantity < 0
            """).df().head()

   stock_quantity  stock_quantity_valid
0            -5.0                   0.0
1           -10.0                   0.0
2            -9.0                   0.0
3            -1.0                   0.0
4            -9.0                   0.0

In [18]:
# Cohérence

con.execute("""
            SELECT DISTINCT category, REPLACE (LOWER(category), 'é','e') AS category_lowercase
            FROM df_corrected 
            """).df()

          category category_lowercase
0          Cuisine            cuisine
1     electronique       electronique
2      Accessoires        accessoires
3      accessoires        accessoires
4   electromenager     electromenager
5           Livres             livres
6     Électronique       electronique
7          Meubles            meubles
8     électronique       electronique
9          meubles            meubles
10  Électroménager     electromenager
11  Electromenager     electromenager

In [19]:
# Fraicheur

con.execute("""
            SELECT substring(date_added,1,4) as date_added_year, count(*) as count_records
            FROM df_corrected 
            group by date_added_year
            """).df()

  date_added_year  count_records
0            2025            387
1            2024            483
2            2023             92

## Exercice 2

In [ ]:
import pandas as pd
df = pd.read_csv('Td2Exercice2.csv')
df

,ID_Client,Nom_Complet,Email,Telephone_FR
0,C-001,Alice Dupont,alice.dupont@gmail.com,06 12 34 56 78
1,C-002,bob martin,bob.martin.com,+33 7 89 01 23 45
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678
3,C-004,"Petit, David",david!petit@yahoo.fr,Tel: 01.23.45.67.89
4,C-005,EveMarie Dubois,eve.marie@provider.org,Non renseigné
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,+33(0)6-12-34-56-78
6,C-007,Gerard,gerard@aol..com,07.89.01.23.45
7,C-008,Helene.Durand,helene.durand@,inconnu

In [21]:
# re est une librairie permettant de manipuler les expressions régulières

import re

In [22]:
# Astuce: testez vos Regex avec https://regex101.com/
# Ressource pour apprendre les Regex : https://regexlearn.com/cheatsheet


# je teste sur mon adresse email le pattern défini à l'aide de https://regex101.com/

s = "mourad.elchyakhi@gmail.com."
print(re.match(r"^\w+\.\w+\@.\w+\.(fr|com)", s))

<re.Match object; span=(0, 26), match='mourad.elchyakhi@gmail.com'>

In [ ]:
# nous vérifions que chaque email correpsond bien à un pattern d'email

df['flag_email_pattern'] = df['Email'].apply(lambda x : 1 if re.match(r"^\w+\.\w+\@.\w+\.(fr|com|org)", x) else 0)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern
0,C-001,Alice Dupont,alice.dupont@gmail.com,06 12 34 56 78,1
1,C-002,bob martin,bob.martin.com,+33 7 89 01 23 45,0
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0
3,C-004,"Petit, David",david!petit@yahoo.fr,Tel: 01.23.45.67.89,0
4,C-005,EveMarie Dubois,eve.marie@provider.org,Non renseigné,1
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,+33(0)6-12-34-56-78,1
6,C-007,Gerard,gerard@aol..com,07.89.01.23.45,0
7,C-008,Helene.Durand,helene.durand@,inconnu,0

In [ ]:
# je formatte les numéros afin d'avoir une valeur formattée. Attention à l'ordre des remplacements qui est très important.
df['Telephone_FR'] = df['Telephone_FR'].str.replace('.','').str.replace('Tel: ','').str.replace('+33(0)','0').str.replace('+33','0').str.replace(' ','').str.replace('-','')
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1
1,C-002,bob martin,bob.martin.com,0789012345,0
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1
6,C-007,Gerard,gerard@aol..com,0789012345,0
7,C-008,Helene.Durand,helene.durand@,inconnu,0

In [ ]:
# Je vérifie à l'aide d'une expression régulière que le numéro de téléphone comporte bien 10 caractère, le tout via un flag 0 / 1 
df['Telephone_FR_formatted_flag'] = df['Telephone_FR'].apply(lambda x : 1 if re.match(r"\d{10}", x) else 0)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern,Telephone_FR_formatted_flag
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1,1
1,C-002,bob martin,bob.martin.com,0789012345,0,1
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0,1
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0,1
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1,0
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1,1
6,C-007,Gerard,gerard@aol..com,0789012345,0,1
7,C-008,Helene.Durand,helene.durand@,inconnu,0,0

In [8]:
df.dtypes

ID_Client                      object
Nom_Complet                    object
Email                          object
Telephone_FR                   object
flag_email_pattern              int64
Telephone_FR_formatted_flag     int64
dtype: object

In [29]:
re.sub(r"(\d{2})", r"\1 ",'065010').strip()

'06 50 10'

In [ ]:
# Enfin à l'aide d'une expression régulière je formatte le numéro de téléphone, et si le flag est 0 alors j'indique que le numéro de téléphone n'est pas renseigné

lambda_function = lambda x: re.sub(r"(\d{2})", r"\1 ", x['Telephone_FR']).strip() if x['Telephone_FR_formatted_flag'] == 1 else 'Non renseigné'

df['Telephone_FR_formatted'] = df.apply(lambda_function, axis=1)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern,Telephone_FR_formatted_flag,Telephone_FR_formatted
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1,1,06 12 34 56 78
1,C-002,bob martin,bob.martin.com,0789012345,0,1,07 89 01 23 45
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0,1,06 12 34 56 78
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0,1,01 23 45 67 89
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1,0,Non renseigné
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1,1,06 12 34 56 78
6,C-007,Gerard,gerard@aol..com,0789012345,0,1,07 89 01 23 45
7,C-008,Helene.Durand,helene.durand@,inconnu,0,0,Non renseigné

In [ ]:
# à l'aide d'une expression regulière je retire les points et les virgules
lambda_function = lambda x: re.sub(r"[\.,]", r" ", x['Nom_Complet']).strip()
df['Nom_Complet_corr'] = df.apply(lambda_function, axis=1)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern,Telephone_FR_formatted_flag,Telephone_FR_formatted,Nom_Complet_corr
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1,1,06 12 34 56 78,Alice Dupont
1,C-002,bob martin,bob.martin.com,0789012345,0,1,07 89 01 23 45,bob martin
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0,1,06 12 34 56 78,CHARLIE LEGRAND
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0,1,01 23 45 67 89,Petit David
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1,0,Non renseigné,EveMarie Dubois
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1,1,06 12 34 56 78,François-Pierre de la Roche
6,C-007,Gerard,gerard@aol..com,0789012345,0,1,07 89 01 23 45,Gerard
7,C-008,Helene.Durand,helene.durand@,inconnu,0,0,Non renseigné,Helene Durand

In [ ]:
# A l'aide d'une seconde expression régulière je sépare le pattern "EveMarie" c'est à dire un mot attaché avec une lettre majuscule qui n'est pas la première lettre

lambda_function2 = lambda x: re.sub(r"([a-z])([A-Z])", r"\1 \2", x['Nom_Complet_corr']).strip()
df['Nom_Complet_corr'] = df.apply(lambda_function2, axis=1)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern,Telephone_FR_formatted_flag,Telephone_FR_formatted,Nom_Complet_corr
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1,1,06 12 34 56 78,Alice Dupont
1,C-002,bob martin,bob.martin.com,0789012345,0,1,07 89 01 23 45,bob martin
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0,1,06 12 34 56 78,CHARLIE LEGRAND
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0,1,01 23 45 67 89,Petit David
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1,0,Non renseigné,Eve Marie Dubois
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1,1,06 12 34 56 78,François-Pierre de la Roche
6,C-007,Gerard,gerard@aol..com,0789012345,0,1,07 89 01 23 45,Gerard
7,C-008,Helene.Durand,helene.durand@,inconnu,0,0,Non renseigné,Helene Durand

In [ ]:
# A l'aide d'une dernière fonction, je transforme tous les noms en nom propre (uniquement première lettre en majuscule, sauf pour "de" et "la")

lambda_function3 = lambda x: re.sub(r"\b\w+\b", lambda x: x.group(0) if x.group(0).lower() in {"de", "la"} else x.group(0).title(), x['Nom_Complet_corr']).strip()
df['Nom_Complet_corr'] = df.apply(lambda_function3, axis=1)
df

,ID_Client,Nom_Complet,Email,Telephone_FR,flag_email_pattern,Telephone_FR_formatted_flag,Telephone_FR_formatted,Nom_Complet_corr
0,C-001,Alice Dupont,alice.dupont@gmail.com,0612345678,1,1,06 12 34 56 78,Alice Dupont
1,C-002,bob martin,bob.martin.com,0789012345,0,1,07 89 01 23 45,Bob Martin
2,C-003,CHARLIE LEGRAND,charlie@legrand,0612345678,0,1,06 12 34 56 78,Charlie Legrand
3,C-004,"Petit, David",david!petit@yahoo.fr,0123456789,0,1,01 23 45 67 89,Petit David
4,C-005,EveMarie Dubois,eve.marie@provider.org,Nonrenseigné,1,0,Non renseigné,Eve Marie Dubois
5,C-006,François-Pierre de la Roche,fp.delaroche@domaine.fr,0612345678,1,1,06 12 34 56 78,François-Pierre de la Roche
6,C-007,Gerard,gerard@aol..com,0789012345,0,1,07 89 01 23 45,Gerard
7,C-008,Helene.Durand,helene.durand@,inconnu,0,0,Non renseigné,Helene Durand